.DS_Store
.svn/
Thumbs.db
.*.swp
*.map
*.bak
Session.vim

.idea
.settings
.project
.classpath
*.iml
.vscode

node_modules/
coverage/
package-lock.json
yarn.lock
yarn-error.log*
.sass-cache/
rev-manifest.json

*.page.js

